@import url('https://fonts.googleapis.com/css?family=Lato');

d* {
    outline: 1px dotted lime;
}

body {
    background-color: mintcream;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: mintcream;
    color: navy;
    height: 0px;
    border-bottom: 6px solid navy;
}

.nav {
    display: grid;
    grid-template-columns: 200px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

.logo {
    margin-top: 55px;
    font-size: 2rem;
}

.links {
    margin-top: 65px;
    margin-right: 400px;
    font-size: 1.3rem;
    text-align: right;
}
    
.links a {
    color: navy;
    padding-left: 50px;
    padding-right: 10px;
    text-decoration: none;
}
    
#services_container {
    background-color: mintcream;
    color: navy;
    font-size: 1.1em;
    line-height: 2em;
    margin-left: 320px;
    max-width: 500px;
    height: 400px;
}

#services_container h1 {
    font-weight: bold;
    margin-top: 180px;
}

.image img {
    margin-left: 900px;
    margin-top: -1300px;
}

#works {
    color: white;
    background-color: midnightblue;
    border-top: 16px solid navy;
    font-size: 1.1em;
    line-height: 2em;
    padding: 50px 60px;
    padding-bottom: 10px;
}

#works .centered {
    margin: auto;
    margin-left: 185px;
    margin-right: 80px;
}

#works a {
    border: 1px solid #666D89;
    border-radius: 5px;
    padding: 0.2em 0.5em;
}

#project {
    height: 1500px;
}

#project .one {
    margin-left: 600px;
    margin-right: 250px;
    margin-top: 90px;  
}

#project .one h2 {
    text-decoration: underline;
}

.onepic img {
    margin-top: -550px;
    margin-left: 190px;
}

#branding h3 {
    text-decoration: underline;
}

#project .two {
    margin-left: 600px;
    margin-right: 250px;
    margin-top: 80px;
}

#project .two h2 {
    text-decoration: underline;
}

.twopic img {
    resize: both;
    margin-top: -140px;
    margin-left: 190px;
}

#project .three {
    margin-left: 600px;
    margin-right: 250px;
    margin-top: 120px;
}

#project .three h2 {
    text-decoration: underline;
}

.threepic img {
    resize: both;
    margin-top: -210px;
    margin-left: 190px;
}

#window h3 {
    text-decoration: underline;
}

#project .four {
    margin-left: 600px;
    margin-right: 250px;
    margin-top: 100px;
}

#project .four h2 {
    text-decoration: underline;
}

.fourpic img {
    resize: both;
    margin-top: -400px;
    margin-left: 190px;
}

#branding {
    color: midnightblue;
    border: 20px;
    background-color: white;
    font-size: 1.1em;
    line-height: 2em;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    padding: 40px;
    
}

#contents {
    color: midnightblue;
    border: 20px;
    background-color: white;
    font-size: 1.1em;
    line-height: 2em;
}

#photography {
    color: midnightblue;
    border: 20px;
    background-color: white;
    font-size: 1.1em;
    line-height: 2em;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    padding: 40px;
}

#window {
    color: midnightblue;
    border: 20px;
    background-color: white;
    font-size: 1.1em;
    line-height: 2em;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    padding: 40px;
}

.paragraph {
    margin-left: 600px;
    margin-top: 200px;
}

.windowpic {
    margin-left: -600px;
    margin-top: -600px;
}

.cratepic {
    margin-left: -550px;
}

#online {
    color: midnightblue;
    border: 20px;
    background-color: white;
    font-size: 1.1em;
    line-height: 2em;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    padding: 40px;
}

#online h3 {
    text-decoration: underline;
}


    